.thumbnail {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.table {
  margin-top: 20px;
  
  tfoot {
    background-color: #e0f7f9;
    
    input {
      font-size: 0.9rem;
    }
  }
}

.modal-backdrop {
  opacity: 0.5;
  background-color: rgba(64, 224, 208, 0.3); 
}

.btn {
  margin: 2px;
  background-color: #40e0d0; 
  border-color: #2bb7a8;
  color: white;
}

.btn:hover {
  background-color: #2bb7a8; 
  border-color: #239488;
}
